/* @media give us the tool to creat a rule for an adaptative screen device */

@media only screen and (min-width: 375px) and (max-width: 768px) {
  /* My body config */

  body {
    margin: 0;
    padding: 0;
    background: white;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: auto;
  }

  /* initialize the .header style: sizes, colors and fonts */

  .header {
    padding-top: 1px;
    margin: 0;
    color: white;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
  }

  /* using flexbox for nav tag */

  .nav {
    z-index: 100;
    top: 0;
    margin-bottom: -100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3a39;
  }

  .my-logo {
    margin-left: 24px;
  }

  .burger-menu {
    font-size: 30px;
    margin: 10px 35px 10px 10px;
  }

  /* initialize the .main and use flexbox for all his childs */

  .main {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 0;
  }

  .section-1 {
    padding-left: 24px;
    padding-bottom: 130px;
    justify-content: start;
    width: 100%;
    background-color: #1c1a19;
  }

  /* initialize the .h,h-1,h-2,h-3: sizes, colors, and fonts */

  .h-1 {
    width: 327px;
    height: 124px;
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    margin-top: 190px;
  }

  .h-2 {
    color: #fff5e1;
    width: 327px;
    height: 27px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .para-1 {
    color: white;
    width: 327px;
    height: 123px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .social-media {
    width: 200px;
    margin-left: -45px;
    flex-grow: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  /* -- add style to div that contain the  img -- */

  .div-img {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    float: right;
    flex-grow: 0;
  }

  .img-1 {
    margin-top: -235px;
  }

  /* -- finish of the header-- */

  /* -- second section of the web -- */

  /* -- add style and flexbox -- */

  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1px;
    padding-bottom: 125px;
    height: 682px;
    margin-left: 24px;
    margin-top: 100px;
    color: black;
  }

  /* -- second tittle -- */

  .header-2 {
    width: 327px;
    height: 83px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #1c1a19;
  }

  /* -- add a separator to thee web -- */

  .my-separator {
    width: 327px;
    top: 107px;
    margin-right: 50px;
    height: 1px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
  }

  /* -- add and image of my work example -- */

  .img-2 {
    margin-top: 80px;
    width: 327px;
    height: auto;
  }

  /* -- 3th tittle -- */

  .header-3 {
    color: #091e42;
    width: 327px;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
  }

  /* -- add style to my second paragraph -- */

  .para-2 {
    margin-top: -12px;
    width: 327px;
    height: 147px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  /* -- add style and flexbox to my tech-stack class -- */

  .tech-stack {
    width: 327px;
    display: flex;
    margin-top: -12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }

  /* -- add style to all my h4  -- */

  .h4-1 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 55px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-2 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 67px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-3 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-4 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  /* -- add style to the botton -- */

  .button {
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 124px;
    height: 48px;
    border: 1px solid #ff6b00;
  }

  /* -- add other projects -- */

  .sec {
    margin: 24px 24px 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex-grow: 0;
  }

  .div-4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 0;
  }

  .img-w1 {
    border: 2px #ff6b00;
    width: 327px;
    height: 386px;
  }

  .header-4 {
    color: white;
    font-family: 'Crete Round', sans-serif;
    position: absolute;
    width: 295px;
    font-size: 32px;
    bottom: 35px;
    left: 13px;
  }

  .para-3 {
    color: white;
    font-family: 'Inter', sans-serif;
    position: absolute;
    width: 280px;
    font-size: 16px;
    top: -60px;
    left: 13px;
  }

  .tech-stack-2 {
    color: white;
    width: 247px;
    bottom: 97px;
    left: 13px;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }

  .h4-5 {
    float: left;
    box-sizing: border-box;
    padding: 10px 12px;
    width: 67px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .h4-6 {
    float: left;
    box-sizing: border-box;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .h4-7 {
    float: left;
    box-sizing: border-box;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .button-2 {
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 100%;
    height: 48px;
    border: 1px solid #ff6b00;
  }

  .about-me {
    width: 327px;
    height: 79px;
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    margin-top: 120px;
  }

  .section-9 {
    position: relative;
    padding-left: 24px;
    margin-top: 130px;
    width: 100%;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .para-4 {
    position: relative;
    top: -50px;
    color: white;
    width: 327px;
    height: 148px;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .button-3 {
    position: relative;
    top: -38px;
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 156px;
    height: 48px;
    border: 1px solid #ff6b00;
  }

  .div-img-3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    float: right;
    flex-grow: 0;
  }

  .img-3 {
    position: relative;
    background-color: #1c1a19;
    padding-left: 770px;
    width: 172px;
    height: 191px;
    margin-top: -45px;
  }

  .section-10 {
    position: relative;
    width: 100%;
    height: 1013;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .my-separator-2 {
    position: relative;
    width: 327px;
    top: 10px;
    right: -24px;
    margin-right: 50px;
    height: 1px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
  }

  .h5 {
    margin: 32px;
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
  }

  .h5-img {
    margin: 10px;
    position: relative;
    right: 15px;
    top: 130px;
  }

  .h6 {
    position: relative;
    margin: 20px;
    top: 50px;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
  }

  .h6-1 {
    height: 192;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .h-last {
    padding-bottom: 87px;
  }
}
