/* @media give us the tool to creat a rule for an adaptative screen device*/

@media only screen and (min-width: 375px) and (max-width: 768px) {

  /* My body config */

body {
  margin: 0;
  padding: 0;
  background: white;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: auto;;
}

/* initialize the .header style: sizes, colors and fonts */

.header {
  padding-top: 1px;
  margin: 0;
  color: white;
  /*background-color: #1c1a19;*/
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

/* using flexbox for nav tag */

.nav {
  top: 0;
  margin-bottom: -100px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3c3a39;
}

.my-logo {
  margin-left: 24px;
}

.burger-menu {
  font-size: 30px;
  margin: 10px 35px 10px 10px;
  
}

/* initialize the .main and use flexbox for all his childs */

.main {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 0px;
}

.section-1{
  padding-left: 24px;
  padding-bottom: 130px;
  background-color: transparent;
  justify-content: start;
  width: 100%;
  background-color: #1c1a19;
}

/* initialize the .h,h-1,h-2,h-3: sizes, colors, and fonts */

.h-1 {
  width: 327px;
  height: 124px;
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  margin-top: 190px;
}

.h-2 {
  color: #fff5e1;
  width: 327px;
  height: 27px;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.para-1 {
  color: white;
  width: 327px;
  height: 123px;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.social-media{
  width: 200px;
  margin-left: -45px;
  flex-grow: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/* -- add style to div that contain the  img -- */

.div-img {
  display: flex;
  flex-direction: column;  
  justify-content: end;
  align-self:end;
  float: right;
  flex-grow: 0;
}

.img-1 {
  margin-top: -235px; 
}

/* -- finish of the header-- */

/* -- second section of the web -- */

/* -- add style and flexbox -- */

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 1px;
  padding-bottom: 125px;
  height: 682px;
  margin-left: 24px;
  margin-top: 100px;
  color: black;
}

/* -- second tittle -- */

.header-2 {
  width: 327px;
  height: 83px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #1c1a19;
}

/* -- add a separator to thee web -- */

.my-separator {
  width: 327px;
  top: 107px;
  margin-right: 50px;

  /*border: 1px solid #212121;*/
  
  height: 1px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;


}

/* -- add and image of my work example -- */

.img-2 {
  margin-top: 80px;
  width: 327px;
  height: auto;
}

/* -- 3th tittle -- */

.header-3 {
  color: #091e42;
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', sans-serif;
}

/* -- add style to my second paragraph -- */

.para-2 {
  margin-top: -12px;
  width: 327px;
  height: 147px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

/* -- add style and flexbox to my tech-stack class -- */

.tech-stack {
  width: 327px;
  display: flex;
  margin-top: -12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

/* -- add style to all my h4  -- */

.h4-1 {
  box-sizing: border-box;
  padding: 10px 12px;
  width: 55px;
  height: 40px;
  border: 1px solid #8993a4;
}

.h4-2 {
  box-sizing: border-box;
  padding: 10px 12px;
  width: 67px;
  height: 40px;
  border: 1px solid #8993a4;
}

.h4-3 {
  box-sizing: border-box;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  border: 1px solid #8993a4;
}

.h4-4 {
  box-sizing: border-box;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  border: 1px solid #8993a4;
}

/* -- add style to the botton -- */

.button {
  color: white;
  background-color: #ff6b00;
  padding: 10px 12px;
  width: 124px;
  height: 48px;
  border: 1px solid #ff6b00;
}
}