/* @media give us the tool to creat a rule for an adaptative screen device */

.error {
  color: red;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  /* My body config */

  .nav-desktop {
    display: none;
  }

  .background-desktop-1 {
    display: none;
  }

  .background-desktop-2 {
    display: none;
  }

  #name-f {
    display: none;
  }

  #name-l {
    display: none;
  }

  .popUph2-d {
    display: none;
  }

  #burgerMenu {
    display: none;
    padding: 0;
    width: 100vw;
    height: 755px;
    background-color: #3c3a39;
  }

  .burgerMenuStyle {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 240px;
    width: inherit;
  }

  .listBurgerStyle {
    color: #fff5e1;
    border-bottom: #6f6c6b solid 1px;
    width: 85%;
  }

  .exitBurgerStyleContainer {
    text-align: end;
    width: 85%;
  }

  #exitButton {
    left: 150px;
    background-color: transparent;
    background-image: url(images/exit.png);
    width: 24px;
    height: 24px;
    border: none;
  }

  a:visited {
    color: #fff5e1;
  }

  .porfolio-desk {
    position: relative;
    text-decoration: none;
  }

  .about-desk {
    position: relative;
    text-decoration: none;
  }

  .contact-desk {
    position: relative;
    text-decoration: none;
  }

  body {
    margin: 0;
    background: white;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    height: auto;
  }

  /* initialize the .header style: sizes, colors and fonts */

  .header {
    padding-top: 1px;
    margin: 0;
    color: white;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
  }

  /* using flexbox for nav tag */

  .nav {
    z-index: 9;
    top: 0;
    left: 0;
    margin-bottom: -100px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3a39;
  }

  .my-logo {
    margin-left: 24px;
    font-size: 18px;
  }

  .movileMenuContainer {
    font-size: 30px;
    margin: 10px 35px 10px 0;
  }

  /* initialize the .main and use flexbox for all his childs */

  .main {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 0;
  }

  .section-1-1 {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1c1a19;
    margin-top: -10px;
    padding-bottom: 80px;
    background-image: url(images/Illustration.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .section-1 {
    position: relative;
    justify-content: center;
    width: auto;
  }

  /* initialize the .h,h-1,h-2,h-3: sizes, colors, and fonts */

  .h-1 {
    width: 327px;
    height: 124px;
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    margin-top: 190px;
  }

  .h-2 {
    color: #fff5e1;
    width: 327px;
    height: 27px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
  }

  .para-1 {
    color: white;
    width: 327px;
    height: 123px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .social-media {
    width: 200px;
    margin-left: -45px;
    flex-grow: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }

  /* -- add style to div that contain the  img -- */

  .div-img {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    float: right;
    flex-grow: 0;
  }

  .img-1 {
    margin-top: -235px;
  }

  /* -- finish of the header-- */

  /* -- second section of the web -- */

  /* -- add style and flexbox -- */

  .first-work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1px;
    padding-bottom: 125px;
    height: 682px;
    margin-top: 80px;
    color: black;
    width: 100%;
    align-items: center;
  }

  .projectCards {
    position: relative;
    width: 100%;
    top: 139px;
  }

  .contPopUp {
    z-index: 10;
    display: none;
    position: fixed;
    padding: 10%;
    color: black;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
  }

  .popUp-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contentPopUp {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0% 5% 5% 5%;
    box-sizing: border-box;
  }

  .popUp-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .popUpImg {
    width: 311px;
    height: 221px;
  }

  .exitButton {
    left: 150px;
    background-color: transparent;
    background-image: url(images/exit.png);
    width: 24px;
    height: 24px;
    border: none;
  }

  .popUp-stack {
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  .popUp-btns {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .button-Live {
    font-size: 17px;
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 129px;
    height: 48px;
    border: 1px solid #ff6b00;
    text-align: start;
  }

  .button-Source {
    font-size: 17px;
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 158px;
    height: 48px;
    border: 1px solid #ff6b00;
    text-align: start;
  }

  .img-btn {
    z-index: 200;
    width: 30px;
    height: auto;
    position: relative;
    right: 35px;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 1px;
    padding-bottom: 125px;
    height: 682px;
    margin-top: 89px;
    color: black;
    width: 100%;
  }

  .grid-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* -- second tittle -- */

  .header-2 {
    width: 327px;
    height: 83px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #1c1a19;
  }

  /* -- add a separator to the web -- */

  .my-separator {
    width: 327px;
    top: 107px;
    margin: 0;
    height: 1px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
  }

  /* -- add a separator to thee web -- */

  .my-separator-w {
    width: 327px;
    top: 107px;
    margin: 0;
    height: 1px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
  }

  /* -- add and image of my work example -- */

  .img-2 {
    margin-top: 80px;
    width: 327px;
    height: auto;
  }

  /* -- 3th tittle -- */

  .header-3 {
    color: #091e42;
    width: 327px;
    height: 36px;
    font-family: 'Crete Round', sans-serif;
  }

  /* -- add style to my second paragraph -- */

  .para-2 {
    margin-top: -12px;
    width: 327px;
    height: 147px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 24px;
  }

  /* -- add style and flexbox to my tech-stack class -- */

  .tech-stack {
    width: 327px;
    display: flex;
    margin-top: -12px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }

  /* -- add style to all my h4  -- */

  .h4-1 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 55px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-2 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 67px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-3 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-4 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-4-5 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 122px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  /* -- add style to the botton -- */

  .button {
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 124px;
    height: 48px;
    border: 1px solid #ff6b00;
  }

  /* -- add other projects -- */

  .sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-grow: 0;
  }

  .div-4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 0;
  }

  .img-w1 {
    border: 2px #ff6b00;
    width: 327px;
    height: 386px;
  }

  .header-4 {
    color: white;
    font-family: 'Crete Round', sans-serif;
    position: relative;
    width: 295px;
    font-size: 32px;
    bottom: 80px;
    left: 13px;
  }

  .para-3 {
    color: white;
    font-family: 'Inter', sans-serif;
    position: relative;
    width: 280px;
    font-size: 16px;
    top: -110px;
    left: 13px;
  }

  .tech-stack-2 {
    list-style: none;
    color: white;
    width: 247px;
    display: flex;
    bottom: 130px;
    left: -10px;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }

  .h4-5 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 67px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .h4-6 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .h4-7 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .button-2 {
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 327px;
    height: 48px;
    border: 1px solid #ff6b00;
    position: relative;
    top: -118px;
  }

  .about-me {
    width: 100%;
    height: auto;
    position: relative;
    left: 20px;
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
  }

  .section-9-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #1c1a19;
    margin-top: 120px;
  }

  .section-9 {
    position: relative;
    width: 100%;
    height: 652px;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stcenterart;
    background-image: url(images/Illustration-2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .para-4 {
    position: relative;
    top: -50px;
    left: 24px;
    color: white;
    width: 327px;
    height: 148px;
    display: flex;
    text-align: left;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .button-3 {
    position: relative;
    top: -38px;
    left: 24px;
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 156px;
    height: 48px;
    border: 1px solid #ff6b00;
  }

  .div-img-3 {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    float: right;
    flex-grow: 0;
  }

  .img-3 {
    position: relative;
    background-color: #1c1a19;
    padding-left: 770px;
    width: 172px;
    height: 191px;
    margin-top: -45px;
  }

  .section-10 {
    position: relative;
    bottom: 1px;
    width: 100%;
    height: 1013;
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .my-separator-2 {
    position: relative;
    width: 327px;
    top: 22px;
    height: 1px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
  }

  .h5 {
    margin: 32px;
    position: relative;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
  }

  .h5-img {
    margin: 10px;
    position: relative;
    right: 10px;
    top: 130px;
  }

  .Skill-img {
    position: relative;
    left: 50px;
  }

  .h6 {
    position: relative;
    margin: 20px;
    top: 50px;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
  }

  .h6-1 {
    height: 192;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .h-last {
    padding-bottom: 87px;
  }

  .section-11 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    flex-grow: 0;
  }

  .h5-2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    line-height: 44px;
    width: 327px;
    height: 216px;
    color: #172b4d;
  }

  #name {
    color: #979493;
    width: 295px;
    margin-bottom: 14px;
    border: none;
    outline: none;
  }

  #email {
    color: #979493;
    width: 295px;
    margin: 39px 0 14px 0;
    border: none;
    outline: none;
  }

  .my-separator-3 {
    width: 327px;
    margin-bottom: 24px;
    height: 1px;
    border-style: solid;
    border-color: #dbd8d7;
    border-width: 0 0 1px 0;
  }

  #message {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    margin-bottom: 24px;
    font-size: 15px;
    width: 327px;
    height: 114px;
    border: none;
    background: #fbf8f7;
  }

  .button-4:enabled {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 131px;
    height: 48px;
    border: 1px solid #ff6b00;
  }

  .button-4:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .button-4:hover {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #ff6b00;
    background-color: white;
    padding: 10px 12px;
    width: 131px;
    height: 48px;
    border: 1px solid #ff6b00;
    transform: scale(1.1);
  }

  .my-separator-4 {
    width: 100%;
    margin-top: 78px;
    height: 1px;
    border-style: solid;
    border-color: #dbd8d7;
    border-width: 0 0 1px 0;
  }

  .footer {
    display: flex;
    width: 327px;
    padding-bottom: 28px;
    justify-content: center;
  }
}

/* Desktop-desing */

@media only screen and (min-width: 768px) {
  .nav {
    display: none;
  }

  .movileMenuContainer {
    display: none;
  }

  .img-1 {
    display: none;
  }

  .section-3 {
    display: none;
  }

  .popUph2-m {
    display: none;
  }

  /* My body config */

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 1%;
  }

  /* initialize the .header style: sizes, colors and fonts */

  .header {
    position: relative;
    top: -10px;
    right: 8px;
    color: black;
  }

  .nav-desktop {
    width: 100%;
    height: 72px;
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #3c3a39;
    color: white;
    font-family: "Inter", sans-serif;
  }

  .my-logo-desktop {
    font-size: 18px;
    margin-left: 135px;
  }

  .menu-desk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 315px;
    font-size: 15px;
    margin-right: 165px;
  }

  .list-desk {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    width: 231px;
  }

  /* First section of the web */

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-1-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1c1a19;
    margin-top: -10px;
   /* padding-right: 16px;*/
    padding-bottom: 118px;
    background-image: url(images/background-desktop-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .section-1 {
    position: relative;
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    background-color: #1c1a19;
    margin-left: -10px;
  }

  .h-1 {
    position: relative;
    top: 107px;
    left: 20px;
    width: 566px;
    height: 160px;
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
  }

  .h-2 {
    position: relative;
    color: #fff5e1;
    width: 566px;
    height: 24px;
    top: 44px;
    left: 20px;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
  }

  .para-1 {
    position: relative;
    color: white;
    left: 20px;
    width: 566px;
    height: 123px;
    bottom: -24px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .social-media {
    padding: 0;
    position: relative;
    top: -330px;
    left: -48%;
    width: 20px;
    height: 178px;
    flex-grow: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /* -- add style to div that contain the  img -- */

  .div-img-3 {
    position: relative;
    left: 15px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-self: end;
    float: right;
    flex-grow: 0;
  }

  /* -- finish of the header-- */

  /* -- second section of the web -- */

  /* -- add style and flexbox -- */

  .section-2 {
    display: grid;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-top: 1px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 5%;
    color: black;
  }

  /* -- grid configure -- */

  .grid-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  /* -- second tittle -- */

  .header-2 {
    width: 35%;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #1c1a19;
  }

  /* -- add a separator to thee web -- */

  .my-separator {
    position: relative;
    width: 56%;
    height: 1px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
  }

  .first-work {
    width: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1%;
    margin-top: 54px;
  }

  /* -- add and image of my work example -- */

  .img-2 {
    grid-row: 1/ span 4;
    width: 100%;
    height: auto;
  }

  /* -- 3th tittle -- */

  .column-2 {
    width: 94%;
    grid-column: 2;
    grid-row: auto;
    justify-content: left;
    float: left;
    padding: 2% 1%;
  }

  .header-3 {
    grid-column: 2/3;
    grid-row: 2/3;
    color: #091e42;
    width: 75%;
    height: auto;
    font-size: 38px;
    font-family: 'Crete Round', sans-serif;
    text-align: start;
    margin-top: -10px;
  }

  /* -- add style to my second paragraph -- */

  .para-2 {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: -5px;
    width: 95%;
    height: 40%;
    font-family: 'Inter', sans-serif;
    font-size: 90%;
    line-height: 28px;
    text-align: left;
  }

  /* -- add style and flexbox to my tech-stack class -- */

  .tech-stack {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 327px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }

  /* -- add style to the botton -- */

  .button {
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 124px;
    height: 48px;
    border: 1px solid #ff6b00;
    float: left;
  }

  /* -- add style to all my h4  -- */

  .h4-1 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 55px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-2 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 67px;
    height: 40px;
    border: 1px solid #8993a4;
    margin-right: 10px;
  }

  .h4-3 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    border: 1px solid #8993a4;
    margin-right: 10px;
  }

  .h4-4 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    border: 1px solid #8993a4;
  }

  .h4-4-5 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 122px;
    height: 40px;
    border: 1px solid #8993a4;
    margin-right: 10px;
  }

  /* -- adding grid for projects -- */

  /* ---  add other projects   --- */

  .projectCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2%;
    justify-content: center;
    padding-bottom: 130px;
  }

  /* -- style for popUp for desktop -- */

  .contPopUp {
    top: 0;
    left: 0;
    z-index: 10;
    display: none;
    position: fixed;
    padding: 5% 10% 5% 10%;
    color: black;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
  }

  .popUp-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .contentPopUp {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0% 5% 5% 5%;
    box-sizing: border-box;
  }

  .popUp-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .popUph2-d {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
  }

  .popUpImg {
    width: 659px;
    height: 448px;
  }

  .exitButton {
    left: 150px;
    background-color: transparent;
    background-image: url(images/exit.png);
    width: 24px;
    height: 24px;
    border: none;
  }

  .popUp-stack {
    padding: 0%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    text-align: center;
  }

  .popUp-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popUp-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .popUp-text {
    width: 424px;
    height: 336px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
  }

  .popUp-btns {
    width: 80%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .button-Live {
    font-size: 17px;
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 129px;
    height: 48px;
    border: 1px solid #ff6b00;
    text-align: start;
  }

  .button-Source {
    font-size: 17px;
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 158px;
    height: 48px;
    border: 1px solid #ff6b00;
    text-align: start;
  }

  .img-btn {
    z-index: 200;
    width: 30px;
    height: auto;
    position: relative;
    right: 30px;
  }

  /* -- disable buttons -- */

  .button-2 {
    z-index: 1;
    position: relative;
    color: white;
    background-color: #ff6b00;
    width: 100%;
    height: 58px;
    border: 1px solid #ff6b00;
  }

  .sec {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex-grow: 0;
  }

  .div-4 {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 0;
  }

  .img-w1 {
    border: 2px #ff6b00;
    width: 100%;
    height: auto;
  }

  .header-4 {
    color: white;
    font-family: 'Crete Round', sans-serif;
    position: absolute;
    width: 62%;
    font-size: 32px;
    top: 40%;
    left: 13px;
  }

  .para-3 {
    color: white;
    font-family: 'Inter', sans-serif;
    position: absolute;
    width: 62%;
    font-size: 16px;
    bottom: 27%;
    left: 13px;
  }

  .tech-stack-2 {
    padding-left: 4%;
    list-style: none;
    color: white;
    width: 62%;
    display: flex;
    bottom: 20px;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }

  .h4-5 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 67px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .h4-6 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 95px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .h4-7 {
    box-sizing: border-box;
    padding: 10px 12px;
    width: 61px;
    height: 40px;
    background: rgba(255, 255, 255, 0.24);
    border: 1px solid #8993a4;
  }

  .about-me {
    width: 94%;
    height: auto;
    color: #ff6b00;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    text-align: left;
  }

  .section-9-1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #1c1a19;
    background-image: url(images/background-desktop-2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .section-9 {
    width: 45%;
    padding-top: 10%;
    padding-left: 6%;    
    display: flex;
    flex-direction: column;
    background-color: #1c1a19;
    justify-content: space-around;
  }

  .para-4 {
    color: white;
    width: 94%;
    height: auto;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: start;
  }

  .button-3 {
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 22%;
    height: auto;
    border: 1px solid #ff6b00;
  }

  .img-3 {
    display: none;
  }

  .div-img {
    flex-grow: 0;
  }

  .background-desktop-2 {
    position: relative;
    background-color: #1c1a19;
    width: 673px;
    height: 353px;
    left: 25px;
  }

  .section-10 {
    position: relative;
    bottom: 5px;
    width: 100%;
    height: 813px;
  /*  padding-right: 5px;
    padding-left: 15px;*/
    background-color: #1c1a19;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .my-separator-2 {
    position: relative;
    width: 85%;
    top: 109px;
    height: 1px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
  }

  .skill {
    position: relative;
    display: grid;
    bottom: 359px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 30px);
    grid-gap: 24px;
    text-align: center;
    align-items: center;
  }

  .coloumn-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    grid-column: 1;
    grid-row: 1;
  }

  .coloumn-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
  }

  .coloumn-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    grid-column: 3;
    grid-row: 1;
  }

  .coloumn-1-1 {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 2;
    position: relative;
    bottom: -120px;
  }

  .coloumn-2-1 {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    position: relative;
    bottom: -120px;
  }

  .coloumn-3-1 {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 2;
    position: relative;
    bottom: -150px;
  }

  .h5 {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
  }

  .h5-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    position: relative;
    right: 15px;
  }

  .h6 {
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 24px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section-11 {
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto;
    justify-self: center;
    align-items: center;
    /*column-gap: 24px;
    grid-gap: 65px;*/
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: left;
    flex-grow: 0;
    margin-top: 100px;
  }

  .h5-2 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    line-height: 44px;
    text-align: left;
    width: 100%;
    height: auto;
    color: #172b4d;
    margin-left: 15%;
  }

  #name {
    color: #979493;
    width: 50%;
    margin-bottom: 14px;
    border: none;
    outline: none;
    position: relative;
    top: 8px;
  }

  #email {
    color: #979493;
    width: 100%;
    margin: 39px 0 14px 0;
    border: none;
    outline: none;
  }

  .my-separator-3 {
    width: 100%;
    margin-bottom: 24px;
    height: 1px;
    border-style: solid;
    border-color: #dbd8d7;
    border-width: 0 0 1px 0;
  }

  #message {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    margin-bottom: 24px;
    font-size: 15px;
    width: 100%;
    height: 114px;
    border: none;
    background: #fbf8f7;
  }

  .button-4:enabled {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: white;
    background-color: #ff6b00;
    padding: 10px 12px;
    width: 131px;
    height: 48px;
    border: 1px solid #ff6b00;
  }

  .button-4:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .button-4:hover {
    position: relative;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #ff6b00;
    background-color: white;
    padding: 10px 12px;
    width: 131px;
    height: 48px;
    border: 1px solid #ff6b00;
    transform: scale(1.1);
  }

  .my-separator-4 {
    width: 100%;
    margin-top: 78px;
    height: 1px;
    border-style: solid;
    border-color: #dbd8d7;
    border-width: 0 0 1px 0;
  }

  .footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  * {
    border: 1px solid green;
    margin: 0;
  }
}
